.total-body{
    float:left;
    width:100%;
}
.menu-image{
    float:left;
    width:100%;
    background-image:url("https://www.google.co.in/search?q=google+icon&safe=active&tbm=isch&source=iu&ictx=1&fir=r7jpcM1WRW_P8M%253A%252CKKReSPDy_9t4xM%252C_&usg=__959cM5k1KvxJ63Fg3Ccy0wtpoNM%3D&sa=X&ved=0ahUKEwjr_du6oqDbAhXIvY8KHe3xDhgQ9QEIKjAA#imgrc=r7jpcM1WRW_P8M:");
    background-size:cover;
    background-repeat:no-repeat;
    display:block;
    
}
.image{
    float:left;
    width:100%;
}
body {
    background: red;
}