
body{
    margin:0px auto;
    padding:0px auto;
}
.full-body{
    float:left;
    width:100%;
}
.menu-image{
    float:left;
    width:100%;
    height:500px;
    background: url("img/old-people.jpg") no-repeat center ;
    background-repeat:no-repeat;
    background-size:cover;


}
/* ..................carousel..................... */
.carousel{
    width:100%;
    float:left;
    margin:2% 0%;
}
.carousel-inner-a{
    width:100%;
    padding:0% 0% !important;
}

#carousel-property{
    width:100%;
    height:350px;
}

#nav-color{
    color:white;
}
.health{
    border-radius: 50%;
}
.menu-color{
    color:white;
    
}
.menu-family{
    font-family:sans-serif;
}
.menu-color:hover{
    color:yellow;
}
.middle-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align:center;
    color:white;
    margin-top: 8%;
    margin-bottom: 8%;
   
}

.btn-padding{
    padding: 0.375rem 2.75rem;
}
.down-arrow{
    width:100%;
    color:white;
    text-align:center;
    font-size: xx-large;
    margin-top:-35px;
}
.boot .custom_class {

    width: 500px;
}
.row-a{
    width: 60%;
    margin: 0% 20%;
}
.col-sm-3-a{
    background-color:#FFF0F5 !important;
}

.image-size{
    height: 150px;
    width: 200px;
    opacity: 0.8;
}
.image-under-head{
    width: 100%;
    text-align: center;
    margin-top: 540px;
    margin-bottom: 40px;
    font-family: sans-serif;
}
.selfcare-margin{
    width:60%;
    margin:0% 20%;
}
.row-b{
    width: 60%;
    margin: 4% 20%;
}
.col-sm-3-a{
    background:url("img/old-people-crew.jpg");
     background-size:cover;
}
.col-sm-3-b{
    background:url("img/carlie.jpg");
    background-size:cover;
}
.col-sm-3-c{
    background:url("img/doctor-old.jpg");
    background-size:cover;
}
.col-sm-3-d{
    background:url("img/old-womens.jpg");
    background-size:cover;
}


.col-sm-8-a{
    font-size:small;
    color:black;
    padding: 5% 5%;
}
.col-sm-4-a{
    background-color:#E8EDF0 !important;
    padding: 5% 5%;
}
.small{
    background:url("img/.jpg");
    color:black;
}
.row-c{
    width: 60%;
    margin: 1% 20% 5% 20%;
    height: 150px;
}
.col-sm-4-small{
    width:100%;
    padding: 5% 5%;
    height:200px;
    background-color:#E8EDF0 !important;
}
.col-sm-4-bycicle{
    background:url("img/bycicle.jpg");
    background-size:cover;
    padding: 5% 5%;
    height:200px;
}
#text-margin{
    color:#313131;
    margin-top:70px;
    font-weight: 600;
    text-align:center;
}
.col-sm-4-book-with-old-people{
    background:url("img/book-with-old-people.jpg");
    background-size:cover;
    padding: 5% 5%;
    height:200px;
}
/* ................place-holder..................... */
.place-holder{
    float: left;
    width: 100%;
    margin: 3% 0%;
    background: #5E7E95;
    padding: 2% 0%;
}

.form-margin{
    margin: 0% 39%;
}
#email{
    border-radius:0px;
}
.border-radius{
    border-radius:0px;
}
.footer-body{
    width:100%;
    padding:0% 20%;
    float:left;
    background-color:#333333;
    color:white;
    margin-top: -41px;
}
.col-sm-resi-care{
    background-color: #E8EDF0;
    width: 100%;
    padding: 4% 4%;
}
.col-md-2 p a{
    color:#E0A800;
}
.col-md-3 p a{
    color:#E0A800;
}
.md-color{
    color:#E0A800;
}
.md-color:hover{
    color:#E0A800;
}
.form-control{
    color: #0a09097d;
}
