.food-body{
    width:100%;
    float:left;
   
}
.headding{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 7%;
}
.image-size{
    width: 100px;
    height: 100px;
   
}

.navbar-background{
    background: url("img/lemon.jpg") no-repeat center fixed !important; 
  background-size: cover !important;
}
.navbar-nav li a{
    color:white;
    font-size:initial;
    font-weight: 700;
}
.navbar-nav li a:hover{
    color:yellow;
    background:none !important;
    border-bottom:2px solid white;
}
.navbar-brand{
    color:yellow;
    font-size:30px !important;
}

.navbar-brand:hover{
    color:white;
}

.headding h5{
    color:white;
    text-align:center;

}
.line{
    color:white;
}
.yellow{
    color:yellow;
}
.f-c{
    color:yellow;
}
.btn{
    background-color:#ff9a03d9 !important;
}
.btn:hover{
    font-size:20px !important;
}


/* .................art of food........................ */
.art-food{
    text-align:center;
}
.art-food {
   width:100%;

}
.row-a{
    width: 50%;
    margin: 0% 25%;
    
}
.row{
    margin:0px auto !important;
}
.col-sm-6-a{
    width:100%;
    height:200px;
    background:url("img/spicy-egg.jpg");
    background-size:cover;
    
}
.col-sm-6-b{
    width:100%;
    height:200px;
    background:url("img/pizza.jpg");
    background-size:cover;
    
}
.food-pera{
    width: 50%;
    margin: 0% 25%;
    padding:2%;
}
/* ................company-logo............................... */
.company-logo{
    width:100%;
    background-color:black;
}
.col-sm-12-a{
    background-color:black;
    margin:0px auto;
    padding:10% 0%;
    text-align: center;
    color:white;

}
.fc-underline{
    border-bottom:1px solid yellow;
}
/* .......................-chefs.......................... */
.our-chefs{
    width:100%;
    text-align:center;
    margin:2% 0% auto;
}
.green-line{
    
    width: 200px;
    margin-top: -1%;
}
.row-cheff{
    width:100%;
    margin:0% 0% 0% 0%;
}

.row-margin{
    width:50%;
    margin:0% 25%;
    padding:0px auto !important;
}
.names-center{
    text-align:center;
    color:white;

}
.row-chefs-margin{
    width:50%;
    margin:25%;
}
.thumbnail{
background-color:black !important;
}
.pera-color{
    color:white;
}
/* ...............POPULAR-DISHES......................... */
.popular-dishes{
    text-align:center;
}
.row-all-dishes{
    width:50%;
    margin:0% 25%;
    
}
.image-size{
    width:100%;
   
}

#col-sm-3-padding{
    padding:0px;
}
.food-style{
    text-align:center;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color:yellow;
}

.all-dishes{
    padding: 2% 0%;
    background: black;
    color:white;
}
/* ..................reservation....................... */
.reservation{
    text-align:center;
}
.row-reservation{
    width:50%;
    margin:0% 25%;
}
.total-reservation{
    width:100%;
}
.col-sm-4-border{
    border:1px solid black;
}
.book-your-table{
    text-align:center;
    margin:2% 0%;
}
/* ...............restaurent-history.......................... */
.restaurent-history{
    padding: 2% 0%;
    width: 100%;
    background: black;
}
.row-history{
    width:50%;
    margin:0% 25%;
}
.ingridents{
    width:100%;
    
}
.col-sm-6-background{
    background:black;
    color:white;
}
/* ......................blog.................... */
.blog{
    text-align:center;
}
.the-latest-blog{
    text-align:center;
}
.blog-images{
    width:100%;
}
.row-blog{
    width:50%;
    margin:0% 25%;
}
.blog-image{
    width:100%;
    height:130px;
}

.image-padding-none{
    padding:0px auto;
}
#col-border-pad{
    padding:0px !important;
}
#col-border-pad-a{
    padding:0px !important;
}
#blog-image{
    width:100%;
}
#ingrident-pad{
    padding:0px auto;
}
