.nav-image{
    width:100%;
    float:left;
    width:100%;
    height:635px;
    background: url("img/girl-window.jpg") no-repeat center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.nav-font{
    font-size:18px;
    margin:2% 0%;
    
    display: block;
    box-sizing: border-box;
    }
.job-font{
    font-size:30px !important;
}
#link-color{
    color:white;
}
#link-color:hver{
    background-color:yellow;
}
#link-color:hover{
    background-color:#35222240 !important;
    color:#c5991c;
}
.middle-image-text{
    text-align:center;
    font-family:sans-serif;
    color:white;
    margin:10% 0%;
}
.imgage-bottons{
    text-align:center;
}
.btn-color{
    background-color: #c5991c;
    color: white;
    
    font-size: x-large;
}
.btn-color:hover{
    background-color:#ffc107e0;
    color:white !important;
}
.btn-size-a{
    font-size:20px !important;
    background-color: black;
    opacity: 0.5;
    border:2px solid white !important;
    border-radius:none !important;
    margin: 1%;
}
.btn-size-a:hover{
    color:#ffc107e0 !important;
    border: 2px solid #ffc107e0 !important;
}
.btn-size-b{
    font-size:20px !important;
    margin: 1%;
}
.dot-color{
    color:#c5991c;
    font-size:80px;
}
.main-font-size{
    font-size:50px;
}
/* .............................about...................... */
.about{
    text-align:center;
    font-weight:bold !important;
}
.line-height{
    line-height:25px;
    font-size: medium;
}
.col-sm-12-margin{
    width:80% !important;
    margin:0% 10%;
}
.about-size{
    font-weight:bold;
    margin: 6% 0%;
}
/* ...................progress-bar..................................... */
.progress-bar-data{
    width:100%;
    margin: 6% 0% 4% 0%;
}
.progress-bar-color-a{
    background-color:#823782  !important; 
}
.progress-bar-color-b{
    background-color:#bbbb62 !important; 
}
.progress-bar-color-c{
    background-color:#823782!important; 
}
.typography-color{
    color:#823782;
}
.pencil-color{
    color:#bbbb62;
}
.devolop-color{
    color:#823782;
}
/* ...............................Projects............................ */
.col-sm-12-project-text{
    text-align:center;
    margin: 0% 0% 4% 0%;
}
.project-size{
    font-weight:bold;
}
.image-width{
    width:100%;
    height: 300px;
}
.image-padding{
    padding:0px !important;
}
/* ...............................testimonials................................ */
.testimonials{
    background:url("img/pink.jpg");
    width:100%;
    height:500px;
    
}
.pinkontext{
    text-align:center;
    color:white;
    margin-top: -10px;
}
.profile{
 
    
}
.profile-width{
    width: 10%;
    margin: 4% 45%;
    height: 100px;
    border-radius: 18px;
}
.profile-under-text{
    width: 80%;
    margin: 0% 10%;
    color: white;
}
.profile-margin{
    width: 100%;
    padding: 4% 0%;
}
/* .............................Servicess..................................... */
.services{
    text-align:center;
    margin: 6% 0% 6% 0%;
}
.services-font{
    font-weight:bold;
}
.col-sm-4-text-middile{
    text-align:center;
}
#icon-size{
    font-size:20px;
}
#icon-name-size{
    font-size:20px;
    font-weight: bold;
}
.web-design-color-a{
    color:#bbbb62;
}
.web-devolopment-color-b{
    color:#823782;
}
.seo-color-c{
    color:#bbbb62;
}
.services-margin{
    margin: 0% 0% 8% 0%;
}
.news{
    text-align:center;
}
.news-font{
    font-size:30px;
    font-weight: bold;
    margin: 6% 0% 0% 0%;
}
.btn-margin{
    margin:4% 0%;
}
.black-background{
    background-color:#272020;
    color:white;
}
.thumbnsil-margin{
    margin:4% 0%;
}
.numbers{
    text-align: center;
    width: 80%;
    margin: 4% 10%;
    
}
.font-size{
    font-weight:bold;
}
#number-border{
    border-right:1px solid white;
}
.team-center{
    text-align:center;
    margin: 6% 0%;
}
#profile-image{
    width: 100%;
    height: 160px;
    border-radius: 30px;
    
}
#team-margin{
    margin:4% 0%;
}
#profile-border{
    
}
.designer-color{
    color:#bbbb62;
}
.seo-color{
    color:#823782;
}
.devoloper-color{
    color:#bbbb62;
}
#footer-color{
    background-color:#272020;
    color:white;
    padding:4% 0%
}
.footer-menu-size{
    font-size:15px;
}
#footer-icon-size{
    font-size:x-large;
    padding:5px;
}
#icon-color{
    color:#bbbb62;
}
/* ...............................changes............................... */
#background-image-a{
    background:url("img/girl-lap-a.jpg");
    height:150px;
    
    background-size:cover;
}
#background-image-b{
    background:url("img/girl-lap-b.jpg");
    height:150px;
    
    background-size:cover;
}
#background-image-c{
    background:url("img/girl-lap-c.jpg");
    height:150px;
    
    background-size:cover;
}
#progress-bar-height{
    height:5px;
}
#color{
    color:#bbbb62;
}
#my-profile-width{
    width:10%;
    margin:2% 45%;
    background:url("img/my-profile.jpg");
    height:150px;
    
    background-size:cover;
}
#team-margin{
    margin: 0% 0% 4% 0%;
}
#btn-background{
    background-color:#c5991c;
    border-color:#c5991c;
}
#btn-background:hover{
    background-color:#ffc107e0;
   
}
#align-center{
    text-align:center;
}
#icon-align{
    text-align:center;
}
#background-black{
    background-color: #0000003d;
    padding-bottom: 66px;
}